.secondpage {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 2rem;
}

.wallet{
    border: 2px solid black;
    width: min-content;
    margin: 0 auto;
    padding: 6px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 2rem;
}

.wallet button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.wallet span{
    color: black;
    font-size: 2rem;
}

.wallet img {
    height: 30px;
    width: 30px;
}


@media (max-width: 768px) {

}

/* Медиазапросы для очень маленьких экранов (мобильные телефоны) */
@media (max-width: 480px) {

}